<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!--Meta Tags requeridas pelo bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tela de login</title>
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body style= 'background-color: #330867; font-weight:bold;'> 

        <nav class="navbar fixed-top" style="background-color: #789EA0">
            <div class="container-fluid">
              <a class="navbar-brand" style="color: #FFF; font-weight:bold; padding-left: 60px; font-size: 30px;" href="/quemsou"> Quem sou? </a>
              <a class="navbar-brand" style="color: #FFF; font-weight:bold; font-size: 30px;" href="/vitrine"> Vitrine de Produtos </a>
              <a class="navbar-brand" style="color: #FFF; font-weight:bold; padding-right: 60px; font-size: 30px;"  href="/listaPedidos"> Consulta de Pedidos </a>
            </div>
        </nav>

      <p style="color: #FFF; text-align: center;  margin-top: 70px; font-size: 40px;">
        Seja bem vindo(a) minha aplicação!
      </p>

      <img src="/images/emoji-feliz.png" class="rounded mx-auto d-block" alt="emoji feliz" style="max-width: 350px; margin-top:30px">

      <!--
      <div>
        <img src="/images/emoji-feliz.png" style="height: 300px; margin-top:30px; padding-left: 500px;">
      </div>
      -->
  

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
  </body>

</html>
