<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!--Meta Tags requeridas pelo bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tela de login</title>
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body style= 'background-color: #330867; font-weight:bold;'>

    <nav class="navbar fixed-top" style="background-color: #789EA0">
      <div class="container-fluid">
        <a class="navbar-brand" style="color: #FFF; font-weight:bold; padding-left: 60px; font-size: 30px;" href="/quemsou"> Quem sou? </a>
        <a class="navbar-brand" style="color: #FFF; font-weight:bold; font-size: 30px;" href="/vitrine"> Vitrine de Produtos </a>
        <a class="navbar-brand" style="color: #FFF; font-weight:bold; padding-right: 60px; font-size: 30px;"  href="/listaPedidos"> Consulta de Pedidos </a>
      </div>
  </nav>


  <div class="card mb-3" style="max-width: 540px; margin-top: 80px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/images/Minha-foto.jpg" class="img-fluid rounded-start" alt="Foto Victor">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title" style="text-align: center;">Victor Augusto R. Pafaro</h3>
          <h3 class="card-text" style="text-align: center; margin-top: 30px; font-weight: bold;">RA: 21119</h3>
          <p class="card-text" style="margin-top: 67px; text-align: center;"><small class="text-muted">2° Semestre Desenvolvimento de Sistemas Noturno</small></p>
        </div>
      </div>
    </div>
  </div>


    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top:40px;">
      <div class="col">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Aprendizagem</div>
          <div class="card-body text-primary">
            <h5 class="card-title">Java Script</h5>
            <p class="card-text">Neste semestre apredemos sobre a linguagem JavaScript, sua sintaxe, funções, classes e que podemos fazer aplicações tanto no front, quanto no back-end com essa linguagem. </p>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Aprendizagem</div>
          <div class="card-body text-primary">
            <h5 class="card-title">NodeJS</h5>
            <p class="card-text">Aprendemos que o NodeJS é uma ferramenta baseado no interpretador V8 do Google, que permite a execução de códigos JavaScript fora de um navegador web. E que ele é o intermediario entre nossa aplicação e o nosso front-end.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Aprendizagem</div>
          <div class="card-body text-primary">
            <h5 class="card-title">Promise</h5>
            <p class="card-text">Com Promises aprendemos que existem funções assincronas, e que através delas recebemos a resposta de sucesso ou falha da função.</p>
          </div>
        </div>
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
  </body>

</html>
