<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!--Meta Tags requeridas pelo bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tela de login</title>
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body style= 'background-color: #330867; font-weight:bold;'> 

        <nav class="navbar fixed-top" style="background-color: #789EA0">
            <div class="container-fluid">
              <a class="navbar-brand" style="color: #FFF; font-weight:bold; padding-left: 60px; font-size: 30px;" href="/quemsou"> Quem sou? </a>
              <a class="navbar-brand" style="color: #FFF; font-weight:bold; font-size: 30px;" href="/vitrine"> Vitrine de Produtos </a>
              <a class="navbar-brand" style="color: #FFF; font-weight:bold; padding-right: 60px; font-size: 30px;"  href="/listaPedidos"> Consulta de Pedidos </a>
            </div>
        </nav>

      <p style="color: #FFF;  margin-top: 70px; font-size: 40px;">
        Vitrine de Produtos
      </p>

      <div class="row row-cols-1 row-cols-md-2 g-4" style="margin-right: -90px;">

        <!-- ********************** Teste ***************************** -->
        <div class="card" style="width: 18rem; margin-right: 20px;">
          <img src="/images/camiseta-brasil1.jpg" class="card-img-top" alt="camiseta do Brasil">
          
          <div class="card-body">
            <h5 class="card-title">Camiseta do Brasil</h5>
            <p class="card-text">Camiseta da seleção brasileira masculina.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Quantidade: 01</li>
            <li class="list-group-item">Preço Unitario: R$250,00</li>
            <li class="list-group-item">Frete Grátis</li>
          </ul>
          <div class="card-body">
            <a href="/compraProdutoCamisaBrasil" class="btn" style="background-color: #5CF3FC; color: black; font-weight: bold;">Comprar</a>
          </div>
        </div>


        <!-- 
        <div class="card" style="width: 18rem; margin-right: 20px;">
          <img src="/images/camiseta-brasil1.jpg" class="card-img-top" alt="camiseta do Brasil">
          
          <div class="card-body">
            <h5 class="card-title">Camiseta do Brasil</h5>
            <p class="card-text">Camiseta da seleção brasileira masculina.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Quantidade: 01</li>
            <li class="list-group-item">Preço Unitario: R$250,00</li>
            <li class="list-group-item">Frete Grátis</li>
          </ul>
          <div class="card-body">
            <a href="/comprar" class="btn" style="background-color: #5CF3FC; color: black; font-weight: bold;">Comprar</a>
          </div>
        </div>
        -->
      
        <!--
        <div class="card" style="width: 18rem; margin-right: 20px;">
            <img src="/images/camiseta-argentina2.png" class="card-img-top" alt="camiseta da Argentina">

            <div class="card-body">
              <h5 class="card-title">Camiseta da Argentina</h5>
              <p class="card-text">Camiseta da seleção argentina feminina</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Quantidade: 01</li>
              <li class="list-group-item">Preço Unitario: R$220,00</li>
              <li class="list-group-item">Frete Grátis</li>
            </ul>
            <div class="card-body">
              <a href="/compraProdutoCamisaArgentina" class="btn" style="background-color: #5CF3FC; color: black; font-weight: bold;">Comprar</a>
            </div>
        </div>
      -->

          <div class="card" style="width: 18rem; margin-right: 20px;">
            <img src="/images/camiseta-inglaterra2.jpg" class="card-img-top" alt="camiseta da Inglaterra">

            <div class="card-body">
              <h5 class="card-title">Camiseta da Inglaterra</h5>
              <p class="card-text">Camiseta da seleção da Inglaterra masculina.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Quantidade: 01</li>
              <li class="list-group-item">Preço Unitario: R$220,00</li>
              <li class="list-group-item">Frete Grátis</li>
            </ul>
            <div class="card-body">
              <a href="/compraProdutoCamisaInglaterra" class="btn" style="background-color: #5CF3FC; color: black; font-weight: bold;">Comprar</a>
            </div>
          </div>
 

        <div class="card" style="width: 18rem; margin-right: 20px;">
          <img src="/images/camiseta-franca.png" class="card-img-top" alt="Camiseta da frança">
          <div class="card-body">
            <h5 class="card-title">Camiseta da França</h5>
            <p class="card-text">Camiseta da seleção francesa masculina.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Quantidade: 01</li>
            <li class="list-group-item">Preço Unitario: R$180,00</li>
            <li class="list-group-item">Frete Grátis</li>
          </ul>
          <div class="card-body">
            <a href="/compraProdutoCamisaFranca" class="btn" style="background-color: #5CF3FC; color: black; font-weight: bold;">Comprar</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="/images/camiseta-argentina2.png" class="card-img-top" alt="Camiseta do Japão">
          <div class="card-body">
            <h5 class="card-title">Camiseta da Argentina</h5>
            <p class="card-text">Camiseta da seleção argentina feminina.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Quantidade: 01</li>
            <li class="list-group-item">Preço Unitario: R$150,00</li>
            <li class="list-group-item">Frete Grátis</li>
          </ul>
          <div class="card-body">
            <a href="/compraProdutoCamisaArgentina" class="btn" style="background-color: #5CF3FC; color: black; font-weight: bold;">Comprar</a>
          </div>
        </div>

      </div>   

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
  </body>

</html>
